{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" {{ if .Site.Params.portfolio.bg }}
class="bg-light-gray"
{{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
  <div class="Talks">
      {{ range .Site.Data.projects}}
      {{ if eq .category "Speaker" }}
      <a href="#portfolioModal{{ .modalID }}" class="Talk" data-toggle="modal">
        <img src="img/portfolio/{{ .preview }}" class="Talk-image" alt="">
        <div class="Talk-title">
          <h4>{{ .title | markdownify }}</h4>
          <p class="text-muted">{{ .client | markdownify }}</p>
        </div>
      </a>
      {{ end }}
      {{ end }}
    </div>
    </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Schedule</h2>
          <h4>Schedule is subject to change. 
          </h4>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Time (CDT) Click for your local time!</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T09&p1=64">09:00 - 10:00</a> </th>
                <td colspan="3"> <b> MiR Coffee Hour </b> <br> <i> Dorris Scott, Danielle Smalls-Perkins</i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T10&p1=64">10:00 - 10:10</a> </th>
                <td colspan="3"> <b> Opening Remarks </b> <br> <i> SatRday Chicago Organizers</i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T10&p1=64">10:10 - 11:10</a> </th>
                <td colspan="3"> <b> Session 1: public seRvant </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1010&p1=64">10:10 - 10:30</a> </th>
                <td colspan="3"> <b> Mapping Food Systems in R </b> <br> <i> Susan Paykin </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1030&p1=64">10:30 - 10:50</a> </th>
                <td colspan="3"> <b> PropeRty Taxes: Transparency, Equity, and R </b> <br> <i> Eric Langowski </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1050&p1=64">10:50 - 11:10</a> </th>
                <td colspan="3"> <b> Building a more transparent government using Shiny </b> <br> <i> Tristan Calvo </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1110&p1=64">11:10 - 11:20</a> </th>
                <td colspan="3"> <b> Break </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1120&p1=64">11:20 - 11:25</a> </th>
                <td colspan="3"> <b> Session 2: developeR </b> <br> <i> SatRday Chicago Organizers </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1125&p1=64">11:25 - 11:45</a> </th>
                <td colspan="3"> <b> Stories from LightGBM's Journey to CRAN </b> <br> <i> James Lamb </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1145&p1=64">11:45 - 12:05</a> </th>
                <td colspan="3"> <b> dittodb: making testing databases easy </b> <br> <i> Jonathan Keane </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1205&p1=64">12:05 - 12:25</a> </th>
                <td colspan="3"> <b> Docker Based r-devel Pre-Release CRAN Package Testing </b> <br> <i> Brian Burns </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1225&p1=64">12:25 - 12:35</a> </th>
                <td colspan="3"> <b> Lunch </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1235&p1=64">12:35 - 01:05</a> </th>
                <td colspan="3"> <b> Discussion: </b>
		            <br>
                <br> <b> Job Seekers (talk) </b> <br> <b> Using R to Land the Job: A Resume-Building Tutorial in Pagedown </b> <br> <i> Scarlett Winters </i>
		<br>
                <br> <b> Community of Practice </b> <br> <i> Adam Austin </i>
		<br>
                <br> <b> Data Visualization </b> <br> <i> Sydney Purdue </i> 
		<br>
                <br> <b> Social Good </b> <br> <i> Zaynaib Giwa </i> <br> </td>
              </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1305&p1=64">01:05 - 01:10</a> </th>
                <td colspan="3"> <b> Break </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1310&p1=64">01:10 - 01:15</a> </th>
                <td colspan="3"> <b> Session 3: exploreR </b> <br> <i> SatRday Chicago Organizers </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1315&p1=64">01:15 - 01:35</a> </th>
                <td colspan="3"> <b> Useful data visualization </b> <br> <i> Alexis Johnson-Gresham </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1335&p1=64">01:35 - 01:55</a> </th>
                <td colspan="3"> <b> Hot bearing failure prediction using R </b> <br> <i> Krishna Jarugumilli </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1355&p1=64">01:55 - 02:15</a> </th>
                <td colspan="3"> <b> Fitting Insurance Claim Data with Coverage Modification </b> <br> <i> Haoen Cui </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1415&p1=64">02:15 - 02:25</a> </th>
                <td colspan="3"> <b> Break </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1425&p1=64">02:25 - 02:30</a> </th>
                <td colspan="3"> <b> Session 4: poweR user </b> <br> <i> SatRday Chicago Organizers </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1430&p1=64">02:30 - 02:50</a> </th>
                <td colspan="3"> <b> Did we just make a web app? Using R Shiny in Production </b> <br> <i> Elizabeth Nelson </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1450&p1=64">02:50 - 03:10</a> </th>
                <td colspan="3"> <b> Querying a directory of files with Apache Drill </b> <br> <i> Edward Visel </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1510&p1=64">03:10 - 03:30</a> </th>
                <td colspan="3"> <b> The need for speed, or what is a profile and why would I want one? </b> <br> <i> Adam Austin </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1530&p1=64">03:30 - 03:50</a> </th>
                <td colspan="3"> <b> The Rocker Project: Bringing Docker to R </b> <br> <i> Dirk Eddelbuetel </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1550&p1=64">03:50 - 04:00</a> </th>
                <td colspan="3"> <b> Closing </b> <br> <i> SatRday Chicago Organizers </i> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1600&p1=64">04:00 - 04:15</a> </th>
                <td colspan="3"> <b> Break </b> </td>
              </tr>

              <tr>
                <th scope="row"> <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20200530T1615&p1=64">04:15 - 05:00</a> </th>
                <td colspan="3"> <b> Discussion: </b>
		            <br>
                <br> <b> Speaker Q&A </b> <br> <i> SatRday Speakers </i> 
		<br>
                <br> <b> R-Ladies </b> <br> <i> R-Ladies Organizers </i> 
              </td>
              </tr>

            </tbody>
          </table>


        </div>
      </div>
</section>
